.nav-link-hover {
    color: black;
    transition: color 0.3s ease;
  }
  .nav-link-hover:hover {
    color: blue; 
  }
  .title-heads{
    font-size: 30px;
    font-weight: 900;
    color: midnightblue;
    padding: 0px;
    font-family: "Poppins";
  }
  .linklinks{
    font-size: 30px;
    font-weight: 900;
    color: midnightblue;
    padding: 0px;
    font-family: "Poppins";
  }
  .setbacks{
    background-color: midnightblue;
    width: 100%;
    height: auto;
  }
  .pars{
    font-size: 25px;
    font-weight: 900;
    color: white;
    padding: 0px;
    font-family: "Poppins";
  }
  .pps{
    margin-top: 10px;
  }
  .paraobos{
    font-size: 15px;
    font-weight: 900;
    color: lightgray;;
    font-family: "Poppins";
  }
  .divdivs{
    margin-left: 10px;
  }
  .title-paras{
    font-size: 27px;
    font-weight: 900;
    color: midnightblue;
    font-family: "Poppins";
    text-align: center;
    padding: 30px;
  }
  .iconfs{
    color: green;
  }
  .paras{
    font-family: "Poppins";
  }
  .firstdivs{
    margin-left: 20px;
  }
  .img-fluids{
    text-align: center;
  }
  .hie{
    width: 100%;
    height: auto;
  }
  .oi{
    margin-left: -180px;
  }